.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 99;
}
.cart-panel .opac-layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cart-panel .cart-content {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  transform: translateX(100%);
  animation: slideCart 0.3s ease forwards;
}
@media only screen and (min-width: 768px) {
  .cart-panel .cart-content {
    width: 340px;
  }
}
.cart-panel .cart-content .cart-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-panel .cart-content .cart-header .heading {
  flex-grow: 1;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart-panel .cart-content .cart-header .close-button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.cart-panel .cart-content .cart-header .close-button svg {
  font-size: 18px;
}
.cart-panel .cart-content .cart-header .close-button .text {
  text-transform: uppercase;
  font-size: 14px;
}
.cart-panel .cart-content .cart-header .close-button:hover {
  opacity: 0.5;
}
.cart-panel .cart-content .empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
.cart-panel .cart-content .empty-cart svg {
  font-size: 120px;
  opacity: 0.1;
}
.cart-panel .cart-content .empty-cart .return-cta {
  outline: 0;
  border: 0;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
  color: white;
  background: #8e2de2;
  border-bottom: 3px solid #8e2de2;
}
.cart-panel .cart-content .cart-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-panel .cart-content .cart-footer .subtotal {
  padding: 20px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-panel .cart-content .cart-footer .subtotal .text {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart-panel .cart-content .cart-footer .subtotal .text.total {
  color: #8e2de2;
}
.cart-panel .cart-content .cart-footer .button {
  padding: 20px 15px;
}
.cart-panel .cart-content .cart-footer .button .checkout-cta {
  outline: 0;
  border: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background: #8e2de2;
  border-bottom: 3px solid #8e2de2;
}

@keyframes slideCart {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=Cart.css.map */