@import "../../components/css-config/main.scss";

.hero-banner{
    padding: 40px 0;
    position: relative;
    background: linear-gradient(200deg, blue, red, black);
    @include md{
        height: calc(100vh - 80px);
    }
    .content{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        max-width: calc(100% - 20px);
        margin: 0 auto;
        position: relative;
        @include md{
            flex-direction: row;
            max-width: 1200px;
        }
        
        .banner-img{
            position: relative;
            z-index: 9;
            width: 200px;
            margin-bottom: 20px;
            @include md{
                width: 400px;
                margin-right: 60px;
                margin-top: 50px;
                margin-bottom: 0;
            }
            @include xxl{
                width: 300px;
                margin-right: 0;
                margin-top: 0;
            }
        }
        .text-content{
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
            @include md{
                position: absolute;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
            }
            h1{
                font-size: 60px;
                font-weight: 700;
                line-height: 1;
                @include md{
                    font-size: 100px;
                }
            }
            p{
                max-width: 300px;
                line-height:20px;
                font-style: 14px;
                margin-bottom: 20px;
                @include md{
                    max-width: 500px;
                    font-size: 18px;
                    line-height: 24px;
                    // margin-bottom: 40px;
                }
            }
            .ctas{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .banner-cta{
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 500;
                    width: fit-content;
                    border: 2px solid white;
                    padding: 10px 20px;
                    cursor: pointer;
                    &.v2{
                        background-color: white;
                        color: black;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}