.hero-banner {
  padding: 40px 0;
  position: relative;
  background: linear-gradient(200deg, blue, red, black);
}
@media only screen and (min-width: 768px) {
  .hero-banner {
    height: calc(100vh - 80px);
  }
}
.hero-banner .content {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column-reverse;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero-banner .content {
    flex-direction: row;
    max-width: 1200px;
  }
}
.hero-banner .content .banner-img {
  position: relative;
  z-index: 9;
  width: 200px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .hero-banner .content .banner-img {
    width: 400px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1580px) {
  .hero-banner .content .banner-img {
    width: 300px;
    margin-right: 0;
    margin-top: 0;
  }
}
.hero-banner .content .text-content {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-banner .content .text-content {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.hero-banner .content .text-content h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .hero-banner .content .text-content h1 {
    font-size: 100px;
  }
}
.hero-banner .content .text-content p {
  max-width: 300px;
  line-height: 20px;
  font-style: 14px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .hero-banner .content .text-content p {
    max-width: 500px;
    font-size: 18px;
    line-height: 24px;
  }
}
.hero-banner .content .text-content .ctas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero-banner .content .text-content .ctas .banner-cta {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid white;
  padding: 10px 20px;
  cursor: pointer;
}
.hero-banner .content .text-content .ctas .banner-cta.v2 {
  background-color: white;
  color: black;
}
.hero-banner .content .text-content .ctas .banner-cta:hover {
  opacity: 0.6;
}/*# sourceMappingURL=Banner.css.map */