@import "../../components/css-config/main.scss";

.products-container{
    margin: 40px 0;
    @include md{
        margin: 60px 0;
    }
    .sec-heading{
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        @include md{
            margin-bottom: 35px;
            font-size: 24px;
        }
        &:after{
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            margin-top: 5px;
            background-color: #8e2de2;
            @include md{
                width: 60px;
                margin-top: 10px;
            }
        }
    }
    .products{
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        @include md{
            gap: 20px;
        }
    }
}