.products-container {
  margin: 40px 0;
}
@media only screen and (min-width: 768px) {
  .products-container {
    margin: 60px 0;
  }
}
.products-container .sec-heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .products-container .sec-heading {
    margin-bottom: 35px;
    font-size: 24px;
  }
}
.products-container .sec-heading:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin-top: 5px;
  background-color: #8e2de2;
}
@media only screen and (min-width: 768px) {
  .products-container .sec-heading:after {
    width: 60px;
    margin-top: 10px;
  }
}
.products-container .products {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .products-container .products {
    gap: 20px;
  }
}/*# sourceMappingURL=products.css.map */