.product-card {
  width: calc(50% - 5px);
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .product-card {
    width: calc(25% - 15px);
  }
}
.product-card .thumbnail {
  width: 100%;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  padding: 25px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .product-card .thumbnail {
    height: 300px;
  }
}
.product-card .thumbnail img {
  width: 100%;
  transition: all ease 0.3s;
  display: block;
}
.product-card .thumbnail:hover img {
  transform: scale(1.1);
}
.product-card .prod-details .name {
  font-size: 14px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .product-card .prod-details .name {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.product-card .prod-details .price {
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .product-card .prod-details .price {
    font-size: 20px;
  }
}/*# sourceMappingURL=Product.css.map */