.category-main-content {
  margin: 30px 0;
}
@media only screen and (min-width: 768px) {
  .category-main-content {
    margin: 40px;
  }
}
.category-main-content .layout {
  max-width: calc(100% - 20px);
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .category-main-content .layout {
    max-width: 1200px;
  }
}
.category-main-content .category-title {
  font-size: 24px;
}
@media only screen and (min-width: 768px) {
  .category-main-content .category-title {
    font-size: 32px;
  }
}
.category-main-content .products-container {
  margin: 20px 0;
}
@media only screen and (min-width: 768px) {
  .category-main-content .products-container {
    margin: 50px 0;
  }
}/*# sourceMappingURL=Category.css.map */