.main-header {
  width: 100%;
  padding: 0 20px;
  background-color: #212121;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
}
@media only screen and (min-width: 768px) {
  .main-header {
    padding: 0 40px 0 40px;
  }
}
.main-header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  height: 50px;
}
@media only screen and (min-width: 768px) {
  .main-header .header-content {
    height: 80px;
  }
}
.main-header .header-content .left {
  list-style: none;
  display: none;
  align-items: center;
  gap: 25px;
}
@media only screen and (min-width: 768px) {
  .main-header .header-content .left {
    display: flex;
  }
}
.main-header .header-content .left li {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.main-header .header-content .center {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .main-header .header-content .center {
    font-size: 34px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.main-header .header-content .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .main-header .header-content .right {
    gap: 25px;
  }
}
.main-header .header-content .right svg {
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .main-header .header-content .right svg {
    font-size: 25px;
  }
}
.main-header .header-content .right .cart-icon {
  position: relative;
}
.main-header .header-content .right .cart-icon span {
  min-width: 20px;
  text-align: center;
  background-color: #8e2de2;
  padding: 2.5px;
  position: absolute;
  top: -5px;
  right: -12px;
  font-size: 12px;
  line-height: 1;
  border-radius: 8px;
  z-index: 1;
}
.main-header.sticky-header {
  position: sticky;
  top: 0;
  transition: 0.5s ease-in-out;
  animation: stickyHeader 0.3s ease forwards;
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=Header.css.map */