@import "../../components/css-config/main.scss";

.main-header{
    width: 100%;
    padding: 0 20px;
    background-color: #212121;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index:99;
    @include md{
        padding: 0 40px 0 40px;
    }
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        padding: 20px 0;
        height: 50px;
        @include md{
            height: 80px;
        }
        
        .left{
            list-style: none;
            display: none;
            align-items: center;
            gap: 25px;
            @include md{
                display: flex;
            }
            li{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .center{
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
            @include md{
                font-size: 34px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            @include md{
                gap: 25px;
            }
            svg{
                font-size: 20px;
                cursor:pointer;
                @include md{
                    font-size: 25px;
            }}
            .cart-icon{
                position:relative;
                span{
                    min-width: 20px;
                    text-align: center;
                    background-color: #8e2de2;
                    padding: 2.5px;
                    position: absolute;
                    top: -5px;
                    right: -12px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 8px;
                    z-index: 1;
                }
            }
        }
    }
    &.sticky-header{
        position: sticky;
        top: 0;
        transition: 0.5s ease-in-out;
        animation: stickyHeader 0.3s ease forwards;
    }
}
@keyframes stickyHeader {
    0%{
        transform: translateY(-80px);

    }
    100%{transform: translateY(0);}
    
}