.shop-by-category {
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .shop-by-category {
    margin: 50px 0;
  }
}
.shop-by-category .categories {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  align-items: center;
}
.shop-by-category .categories .category {
  background-color: #000;
  width: calc(50% - 5px);
  cursor: pointer;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .shop-by-category .categories .category {
    width: calc(25% - 10px);
  }
}
.shop-by-category .categories .category img {
  width: 100%;
  display: block;
  transition: all ease 0.3s;
}
.shop-by-category .categories .category:hover img {
  transform: scale(1.1);
}/*# sourceMappingURL=Category.css.map */