@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Cabin:wght@400;500;600;700&family=EB+Garamond:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  -webkit-font-smoothing: anitaliased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}/*# sourceMappingURL=index.css.map */